body {
    color: black;
}
div {
    margin-right: 10px;
    margin-bottom: 10px;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellowgreen;
}
.oblique {
    font-style: oblique;
}