body {
    background-color: silver;
}
.box-model-test {
    border: 20px solid black;
    margin-bottom: 20px;
    padding: 20px;
    width: 200px;
}
.box-model-test-01 {
    background-color: white;
    box-sizing: border-box;
}
.box-model-test-02 {
    background-color: yellow;
    box-sizing: content-box
}
a:link {
    color: red;
    text-decoration: none;
}
a:visited {
    color: crimson;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
    color: green;
}
a:focus {
    color: black;
}